{% extends "layout.html" %}

{% block title %}
    quote
{% endblock %}

{% block main %}
<table class="styled-table">
	<thead>
	<tr>
	    {% for header in headings %}
		<th>{{header}}</th>
		{% endfor %}
	</tr>
	</thead>
	<tbody>
	    {% for row in data %}
	    <tr>
            <td>{{row["share"]}}</td>
            <td>{{row["company_name"]}}</td>
            <td>{{row["SUM(amount)"]}}</td>
            <td>{{row["price"]}}</td>
	        <td>{{row["total_price"]}}</td>
        </tr>
	    {% endfor %}
	    <tr>
	        <td>
	            CASH
	        </td>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td>
                {{total_cash}}
	        </td>
	    </tr>
	    <tr>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td>
                {{total_money}}
	        </td>
	    </tr>
	</tbody>
</table>
{% endblock %}